/* shared syles  */
* {
    margin: 0px;
    padding: 0px
}

body section,
header,
footer {
    max-width: 1140px;
    margin: 0px auto;
}

.display-flex {
    display: flex;
}

.noto-serif {
    font-family: 'Noto Serif', serif;
}

.inter {
    font-family: 'Inter';
}

.dark-50 {
    color: rgba(0, 0, 0, 0.5);
}

/* nav related styles  */
nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 120px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

.nav-items {
    gap: 45px;
}

.list-item-1 {
    font-weight: 600;
    color: #252432;
}

.list-item {
    color: #8987A1;
}

.list-item-2 {
    color: black;
}

/* banner related styles  */
.banner {
    align-items: flex-end;
}

.banner-title {
    font-size: 4rem;
    margin-bottom: 15px;
}

.fresh-color {
    color: #E95A08;
}

.banner-description {
    font-size: 1.4rem;
    padding-bottom: 20px;
}
/* our plant section related styles  */
.our-plants {
    margin-bottom: 100px;
}

.plant-writings {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.plant-title {
    font-size: 3.1rem;
    font-weight: bold;
}

.plants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant {
    text-align: center;
}

.plant-name,
.plant-price {
    font-weight: bold;
    font-size: 1.4rem;
    color: #111111;
}

.btn-primary {
    background-color: #E95A08;
    padding: 20px 60px;
    color: #FFFFFF;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

/* plants lover section related styles  */
.plants-lover {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 120px;
}

.plant-lover-image-1 {
    width: 276px;
    padding-left: 360px;
    /* padding-top: 200px; */
    position: relative;
    margin-bottom: -200px;
}

.description-title {
    font-size: 3.1rem;
    font-weight: bold;
    padding: 15px;
}

.description-item {
    font-size: 1.4rem;
    padding: 20px;
}

/* latest deal related styles  */
.latest-deal-writings {
    text-align: center;
    margin-bottom: 120px;
}

.latest-deal-title {
    font-size: 3.1rem;
    font-weight: bold;
    margin: 15px;
}

.latest-deal-description {
    font-size: 1.4rem;
    font-weight: normal;
}

.latest-deal-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 120px;
}

.latest-deal-images {
    gap: 30px;
    color: white;
}

.image-column-huge {
    width: 367px;
    height: 430px;
}

.image-column-normal {
    
    
}

.bloom-plant {
    height: 202px;
    background-image: url('../assets/deal-bloom.png');
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 26px;
    text-align: center;
    position: relative;
}

.bloom,
.ana {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    gap: 15px;
}

.discount-amount {
    font-size: 1.4rem;
    font-weight: bold;
    border-right: 2px solid white;
    padding-right: 10px;
}

.plant-identity {
    font-size: 1.4rem;
    font-weight: bold;
}

.shop-now {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 10px 0px;

}

.latest-deal a {
    text-decoration: underline;
    color: white;
}

.ana-plant {
    height: 202px;
    background-image: url('../assets/deal-ana.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.zabo-plant {
    text-align: center;
    position: relative;
    width: 723px;
    height: 430px;
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.zabo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    gap: 15px;
    justify-content: center;
}










/* responsive design for smaller devices  */ 
@media screen and (max-width: 576px) 

    body section,
    footer,
    header {
        padding: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .list-item-1,
    .list-item {
        display: none;
    }

    .banner-title {
        font-size: 3rem;
    }

   .plants-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant {
        /* box-sizing: border-box; */
    }

    .plant-image {
        width: calc(100% - 10px);
    }

  .plants-lover {
        flex-direction: column;
    }

    .plant-lover-image-1 {
        display: none;
    }

    .plant-lover-image {
        width: 100%;
    }
